@{
    Layout = "postdefault";
}

<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">@Title</h1>
        <p class="post-meta">
            <time datetime="@AddedDate" itemprop="datePublished">@DateTime.Parse(AddedDate).ToString("MMMM dd, yyyy")</time>
            <br />🏷️
             
            @{
                if (Tags.Trim() != String.Empty)
                {
                    var blogTagList = Tags.Split(',').ToList();

                    for( int i = 0; i < blogTagList.Count; i++ )
                    {
                        var urlFriendlyName = blogTagList[i].Trim().Replace("#", "sharp").Replace(" ", "-").Replace(".", "dot").ToLower();
                        <a href="~/blog/tags/@urlFriendlyName/index.html">@blogTagList[i]</a>
                        if( i < blogTagList.Count - 1 )
                        {
                            <text>,</text>
                        }
                    }
                }
            }
        </p>
    </header>
    <div class="post-content" itemprop="articleBody">
        @RenderBody()
    </div>
</article>